.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  h3 {
    color: #333;
    margin-top: 20px;
  }
  
  p {
    color: #666;
    line-height: 1.6;
  }
  
  a {
    color: #00aaff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }