<nav class="navbar">
  <img src="assets/app-icon.png" alt="logo" class="navbar-logo">
  <ul class="navbar-list">
    <li class="navbar-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="navbar-item"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li class="navbar-item"><a routerLink="/user-info" routerLinkActive="active">User Info</a></li>
    <li class="navbar-item"><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li class="navbar-item"><a (click)="logout()">Logout</a></li>  
</ul>
</nav>
