<div class="background shadow-2 flex overflow-hidden">
  <app-side-bar (deviceSelected)="onDeviceSelected($event)"></app-side-bar>
  <div class="bg-very-light-grey p3 flex-auto overflow-auto">
    <h1 class="regular darkgray line-height-1 mb3">Energy consumption</h1>
    
    <section class="energy-summary-card mb3">
      <h3 class="h3 mb2 center">Energy Consumption Summary</h3>
      <div class="flex justify-around">
        <div
        class="energy-card flex flex-column"
        *ngFor="let energyField of energyConsumptionMap | keyvalue: asIsOrder"
      >
        <div class="h4 greyBlue pb1">
          {{ energyField.key }}
        </div>
        <div class="darkgray mb2">
          {{ energyField.value }}
        </div>
      </div>
      </div>

    </section>

    <section class="chartHeight mb3">
      <app-chart [chartData]="chartData"></app-chart>
    </section>
  </div>
</div>